.proj-main-title{
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.project-button{
    padding: 20%;
    color: #000000;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-button::before {
    content: "";
    background-image: var(--image);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

.back-button {
    padding: 5px;
    background-color: #F0F8FF;
    border-radius: 12px;
}

.project-col-container {

    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;

    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;

    padding-bottom: 30px;
}